@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

@import "tailwindcss";

@theme inline {
  --font-redhat: 'Red Hat Display', sans-serif;
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --bg-primary: var(--bg-primary);
  
}

:root {

  /* ✅ Custom text color */
  --text-primary: #18181B;
  --text-secondary: #71717A;
  --bg-primary: #F4F4F5;
  --bg-secondary: #FAFAFA;

}


body {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 14px;
  line-height: 20px;
  color:var(--text-primary);
  background-color: var(--bg-primary);
}



